/* Accordion.module.scss */

.accordion {
  border-top: 1px solid #ccc;
  margin-top: 1rem;
}

.item {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 6px 0px;
  text-align: left;

  @media only screen and (min-width: 1024px) {
    padding: 10px 0px;
  }
  & > .item-heading {
    & > button {
      width: 100%;
    }
  }

}

.itemBtn {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
  color: rgb(28, 28, 28);
  font-size: 1.125rem;
  font-weight: 700;
  padding-right: 1rem;
  text-align: left;
  @media only screen and (min-width: 480px) {
        line-height: 28px;
}
}

.itemBtn:hover {
  color: rgb(26, 62, 111)
}

.itemContent {
  transition: height 0.25s ease;
}

.itemPanel {
  padding: 1rem;
}

.chevron {
  margin-left: auto;
  transition: transform 0.25s ease;
}

/* rotate the chevron when the <button> also has your expanded style */
.itemBtnExpanded .chevron {
  transform: rotate(180deg);
}

.answer {
  /* any typography you want for the HTML block */
  line-height: 1.5;
  color: #333;
}