.homepage_carousel_wrapper {
    height: 439.5px;
    list-style: none;
    margin: 0px;
    padding: 0px;
    position: relative;
    z-index: 0;
    width: 100%;
}
.homepage_carousel_SlideInner {
    
}