.navbar {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-delay: 0s;
    opacity: 1;
    position: sticky;
    top: 0;
    z-index: 2;
    .navbarBrand {
        @media screen and (min-width: 768px) {
            display: none;
        }
        .logoItem {
            &:hover,
            &:focus {
                background-color: transparent !important;
            }
        }

        .navbarItem {
            .logo {
                max-height: 3rem;
                margin-top: -8px;
            }

            @media all and (max-width: 1023px) {
                .logoItem {
                    .logo {
                        max-height: 2.5rem;
                        margin-left: -10px;
                    }
                }
            }
        }

        .burger {
            color: #000;
            cursor: pointer;
            display: block;
            height: 3.25rem;
            position: relative;
            width: 3.25rem;
            margin-left: auto;
            &.colorWhite {
                color: #fff;
            }
            &.colorBlack {
                color: #000;
            }
            span {
                background-color: currentColor;
                display: block;
                height: 2px;
                left: calc(50% - 8px);
                position: absolute;
                -webkit-transform-origin: center;
                transform-origin: center;
                -webkit-transition-duration: 86ms;
                transition-duration: 86ms;
                -webkit-transition-property: background-color, opacity, -webkit-transform;
                transition-property: background-color, opacity, -webkit-transform;
                transition-property: background-color, opacity, transform;
                transition-property: background-color, opacity, transform, -webkit-transform;
                -webkit-transition-timing-function: ease-out;
                transition-timing-function: ease-out;
                width: 30px;
            }
            span:first-child {
                top: calc(50% - 12px);
            }
            span:nth-child(2) {
                top: calc(50% - 4px);
            }
            span:nth-child(3) {
                top: calc(50% + 4px);
            }
            &.isActive span:first-child {
                -webkit-transform: translateY(5px) rotate(45deg);
                transform: translateY(10px) rotate(45deg);
            }
            &.isActive span:nth-child(2) {
                opacity: 0;
            }
            &.isActive span:nth-child(3) {
                -webkit-transform: translateY(-5px) rotate(-45deg);
                transform: translateY(-5px) rotate(-45deg);
            }
        }
    }

    .navbarMenu {
        -webkit-box-align: center;
        align-items: center;
        display: flex;
        list-style: none;
        -webkit-box-pack: justify;
        justify-content: space-between;
        padding: 0px;
        width: 100%;

        @media only screen and (min-width: 1024px) {
            height: 100px;
            padding: 0px 40px;
        }

        .navbarEnd {
            width: 100%;
            clear: both;
        }
        .logoItem {
            display: ruby;;
            .logo {
                max-width: 56px;
                max-height: 56px;
            }
        }

        .navbarItemButton {
            -webkit-box-align: center;
            align-items: center;
            background: rgb(255, 255, 255);
            border-radius: 100px;
            border: none;
            box-shadow: none;
            color: rgb(56, 56, 56);
            display: inline-flex;
            font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 1rem;
            font-weight: 700;
            line-height: 28px;
            -webkit-box-pack: center;
            justify-content: center;
            position: relative;
            transition: 0.3s ease-out;
            z-index: 0;
            cursor: pointer;
            width: 100%;
            outline: none;
            text-decoration: none;
            min-height: 48px;
            min-width: 48px;
            padding: 0.75rem 1.11rem;
            max-width: 200px;
            @media only screen and (min-width: 480px) {
                font-size: 1.125rem;
                padding-top: 0.875rem;
                padding-bottom: 0.875rem;
                display: inline;
            }
        }
        .navbarItemButtonDark {
         background: linear-gradient(rgb(36, 119, 170) 0%, rgb(100, 97, 224) 100%); 
         color: #fff;  
        }

        .navbarItem {
            font-size: 18px;
            font-weight: 700;
            color: #fff;
            padding-left: 18px;
            padding-right: 18px;
        }

        .navbarItemLeft {
            display: inline-block;
            float: left;
        }

        .navbarItemRight {
            display: inline-block;
            float: right;
            margin-top: 14px;
        }
    }

    &.transparentNavbar {
        background-color: transparent;
    }

    &.darkNavbar {
        background-color: #fff;
        color: rgb(56, 56, 56);
    }

    &.navbarDecrease {
        padding-top: 0;
        padding-bottom: 0;
    }

    &.isDark {
        @media screen and (min-width: 1024px) {
            background-color: #fff;
            .navbarItemButton {
                background: linear-gradient(rgb(36, 119, 170) 0%, rgb(100, 97, 224) 100%);
                color: #fff;
            }
            .navbarEnd {
                a.navbarItem {
                    color: rgb(56, 56, 56);
                    &:focus {
                        background: transparent;
                    }
                }
    
                &> {
                    a.navbarItem {
                        &:hover {
                            background-color: transparent;
                            color: #fff !important;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}

.hideOnMobile {
    @media all and (max-width: 1023px) {
        display: none !important;
    }
}

.mobilelogo {

}

.navbarBrand {
    @media all and (max-width: 1023px) {
        display: flex;
        justify-content: space-between;
        .navbarItem {
            &.isActive {
                visibility: hidden;
            }
            margin-left: 16px;
            // display: inline-block;
        }
        .burger {
            // display: inline-block !important;
            &.isActive {
                color: #fff;
            }
        }
    }
}
.navbarMenu {
    @media all and (max-width: 1023px) {
        align-items: flex-start;
        inset: 0px;
        color: rgb(255, 255, 255);
        display: none !important;
        flex-direction: column;
        justify-content: flex-start;
        opacity: 1;
        position: fixed;
        height: 100vh;
        overflow: scroll;
        transition: 0.3s ease-out;
        transform: translate3d(0px, 0px, 0px);
        visibility: visible;
        z-index: -1;
        background: linear-gradient(rgb(96, 180, 231) 0%, rgb(100, 97, 224) 100%);
        padding: 64px 0px;
        &.isActive {
            display: flex !important;
        }
        .navbarEnd {
            margin-top: 64px;
            .navbarItemLeft, .navbarItemRight {
                display: block;
                float: none;
            }
            .navbarItem {
                display: block;
                color: #fff;
                font-size: 1.5rem;
                font-weight: 500;
                margin-bottom: 2rem;
            }
        }
    }
}